@charset "UTF-8";


/* GLOBALA REGLER SOM GÄLLER ÖVER HELA WEBBSIDAN */
body {
	background-color: grey;
	margin: auto;
	outline: 1px solid yellow;
}


/* Regler för allt som ligger i header */
	 /* Headertext + Logo */

.headerwrapper {
	background: linear-gradient(to top, #36A3D1 5%, #3DDBE3 95%, #36A3D1 99%);
	background-color: #3DDBE3;
	text-align: center;
	padding: 1% 0;

}

.logo {
	width: 6%;
	/* padding-left: 25%;  Used to move kitty to the right */
	vertical-align: bottom;
}

.title { 
	padding: 20px;
	font-size: 400%;
	/* text-transform: uppercase;    Not decided whether I want to keep this yet. */

}

.headerwrapper a:link,
.headerwrapper a:visited,
.headerwrapper a:focus,
.headerwrapper a:hover, 
.headerwrapper a:active {
	text-decoration: none;
	color: white;
	text-shadow: 2px 2px 1px grey;
}


/* CSS till bodygrejer. */
	 /* Navigation */

nav {
	background-color: #BAE1E3;
	width: 80%;					/*OBS! Alla nyare versioner av webbläsare använder W3Cs box-model, och det mäter content + padding och margin.*/
	padding-left: 20%; 		/*Man kan byta till gamla boxmodel (boxen har padding och margin inuti) genom box-sizing: border-box; men jag ville komma ihåg denna skillnad, och har därför inte använd den gamla version.  */
	margin: auto;

	text-align: left;
	font-size: 140%;
	border-top: 2px solid #DAF3F5;
	border-bottom: 2px solid #DAF3F5;
	/*  z-index: 10000;						Remove later, hoped this would make the shadow lay about all else.
	box-shadow: 0 3px 1px black; */
}

.topnav {				/*Man behöver nollställa margin och padding annars blir navigationsbalk större i höjd. */
	margin: 0;
	padding: 1px 4px;
}


.topnav li {
	display: inline-block;
	vertical-align: bottom;

	margin: 0;
	padding-right: 2em;
}

.topnav a:link,
.topnav a:visited,
.topnav a:focus {
	text-decoration: none;
	color: #242B2B;
}

/* Do more research on transitional effects. 			OBS! BEHÖVER MER ARBETE, SAMT KOMPATIBILITETS FIXING*/
.topnav a:hover {
	text-decoration: underline;
	transition: text-decoration 2s ease;
	/*transition: color 0.2s ease;
	color: white; */

	text-shadow: 1px 1px 1px darkgrey;
	transition: text-shadow 2s ease;
	
	/* transition: background-color 0.2s ease;
	background-color: #5B5B5B; */

}

.topnav a:hover::after {
	text-decoration: none;
	transition: text-decoration 3s ease;
}



		/* Alla sidans huvudinnehåll */
.wrapper {
	margin: auto;
	margin-top: 0;
	padding: 0;
	/* height: 100%; SÅ vitt jag kan se gör det här ingenting just nu */
}


.main {
	background-color: #5B5B5B;  			 /* Dark grey */
	width: 60%;
	margin: 0 auto;
	/* height: 100%; SÅ vitt jag kan se gör det här ingenting just nu */
	padding: 0 0.5% 0.1% 0.5%;  		/* För att skapa balken bredvid main och aside, och ha lite utrymme på underkanten*/	
}

.main h1,
.main h2 {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;   	
	margin: 0;
	padding: 5px 2%;							/* Distans från vänstersida ; subtrahera 2 % ifrån width! Samma som main paragraferna för att skapa enhet. */
	background-color: #36A3D1;
	color: white;
	text-shadow: 1px 1px 1px darkgrey;
	box-shadow: 0 2px 1px darkgrey;
	z-index: 1;
}

.main h2 {
	font-size: 1.2em;							/* Förändring av typsnittens storlek, eftersom H1 och H2 är samma storlek!? */
}


.main p {				/*OBS OBS OBS!! ONÖDIGT!? KOLLA NEDAN I ARTICLE! */
	padding: 2px 2%;							/* Distans från kanten för allt main-paragraf innehåll, samma som main header. */
}

.introimage {
	float: right;
	width: 175px;
	height: 150px;
	padding: 1em;
}

article {
	background-color: #E8F3F4;					/*Light blue grey */
	width: 100%;
												/* height: 100%; SÅ vitt jag kan se gör det här ingenting just nu */
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;   				/* Jag blev trÖtt ganska snabbt av nya systemet. Så för att bli mer vänd till att använda både system, har jag även border-box här. Vet inte om det är negativt att använda både bredvid varnadra? */
	padding: 1em 0;									/* Sätter article texten bort ifrån högerkanten, och ger aside mer utrymme. */
	margin-bottom: 2%;
	box-shadow: 0 1px 2px black;
}

footer {
	clear: both; 								/* För att nollställa/cleara float från förut! */
	margin: auto;
	margin-top: 0;
	padding: 0;	
	background-color: #282828;   				/*Really dark grey for footer */
	color: white;
	width: 61%; 								/* Samma bredd som main */
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

footer > p {
	margin: 0 0 1em  0;
	padding: 0.5% 0;
	text-align: center;
}



/* BÖRJAN AV LAYOUT OCH INNEHÅLL PÅ HEMSIDAN */
	/* Allt innehåll till aside menyn på huvudsidan */

aside {
	float: right;
	width: 20%;								/* Använder nya box-modell. Subtrahera 1% av totala bredden för padding */
	padding: 0.5%;							/* Använd 1% till padding på aside; Eftersom den ligger på både vänster- och högersidan använder vi 0.5. */
	background-color: #3A3A3A; 				/* Really dark grey*/
	color: lightgrey;
	height: 100%;
	z-index: 100;
}


aside img {
	width: 70%;
	display: block;
	margin: auto;
	padding: 1em 0;
}


/* Allt innehåll till introtext på huvud/hemmasidan. */

.homepage article {
	/* display: block; */
	background: linear-gradient(to right, #E8F3F4 79%, #3A3A3A 79%);   /* Faux column lösning till problemet med aside som inte räcker till footer. 79% eftersom aside-elementen tar 20% + (0.5x2) */
	
}

.homepage .main > article > p {
	padding-right: 25%;
}

.homepage .main > article >  p::first-letter {
	font: 130% bold;
}

.homepage .main  h1,
.homepage .main  h2 {
	padding: 5px 2%;							/* OBS! ONÖDIG?! BOX SIZING I GLOBALA REGLER! Distans från vänstersida ; subtrahera 2 % ifrån width! Samma som main paragraferna för att skapa enhet. */
	width: 79%;								/*Width är 79%, samma som faux-columns bakgrund, för att kompensera för aside-elementen som också har 1% padding*/

}



/* BÖRJAN AV KOD TILL SIDA: KURSEN  */

.delmoment {
	outline: 1px solid black;		/*Provosorisk*/
	margin: auto;
	text-align: center;
	padding: 2%;
}

.delmoment p {
	outline: 1px solid black;
}

.tableall {

}

table {
	width: 60%;

	border-radius: 0 0 30px 30px;
	-ie-box-shadow: 10px 10px 3px black;			/*Problem needs fixing */
		box-shadow: 0 2px 3px black;

}

table,
table th,
table td {
	margin: auto;						/* Centers the div */
	padding: 10px;
	vertical-align: middle;
	

	border-collapse: collapse; 
	
	/* Gör ingenting? border-spacing: 40px 2em; 					/* REMOVE! Sir, I'm gonna have to ask you to step away from your border.. */ 

	text-align: center;
	/* outline: 1px solid red;		 /* Provisorisk */
}

/* Table header styling */ 
th {
	background: linear-gradient(#595858 , #282828);
	background-color: #808080;

	font-size: 170%;
	color: white;
}

/*Selekterar sista TR och sedan nästsista td för att få rundning på vänsterhörnet. 
Tyvärr funkar pseudo-barn selektorer endast med IE9+, men jag ville ändå försöka använda denna märkliga selektor. 
		Fix till border-radius av table (vänster underkant) till alla browser är att använda en klass-selektor. */
tr:nth-last-child(1) > td:nth-last-child(2),
.tablecorner   {   
	border-bottom-left-radius: 30px;
}

tr:nth-last-child(1) > td:nth-last-child(1) {
	border-bottom-right-radius: 30px;
}

/* Vill inte att border ska gå på andra spalten också, det ser ut ful och funkar inte med border-radius!*/
tr > td:first-child {
	border-right: 1px solid #EDEDED;
}


/* Zebra striping + hoverfärg till spalten Innehåll */
tr:nth-child(odd) {
	background-color: #EAEAEA;
}

tr:nth-child(even) {
	background-color: #D1D1D1;
}

tr:hover,
td:hover {
	background-color: lightblue;
}


td:nth-child(1) {
	/* Första kolumnen som blir blå*/
	text-align: center;
	font-size: 1.5em;
	color: white;
	background-color: #36A3D1;
}


td {
	margin: 0 20px;
}

td { 	
	border-top: 1px solid #EDEDED;
}


tr, 
tr td {
	-webkit-transition: background-color 0.2s; /* Safari 5-6 */
	 	-moz-transition: background-color 0.2s; /* Firefox < 15 */
			-ms-transition: background-color 0.2s; /* För symmetrins skull */
			   -o-transition: background-color 0.2s; /* Opera < 12.1 */
				   transition: background-color 0.2s; 
}



/* BÖRJAN AV CSS TILL KONTAKT SIDAN */
.form {
	background-color: lightgrey;
	margin: auto;
	
	width: 60%;	

}

.form,
.form fieldset {
	border-radius: 5px;
	border: none;
	margin-bottom: 10px;
	padding: 10px;
	
}

fieldset {
	padding: 1em;
	border-radius: 10px;
	margin-bottom: 10px;
}

legend {
	color: black;
	font-weight: bold;
	font-size: x-large;
	text-shadow: 0 2px 1px darkgrey;
	padding-bottom: 0.2em;
}

form p {
	position: relative; 		/* Anchor till andra element med position absolute */
	margin: 0.3em 0;			/* Utrymme mellan alla olika element/paragraf/fälter*/
	margin-bottom: 0; 			/* Remove excessive space lower part. */

	/*background: OLDERBROWSERHEX; */
	background: rgba(255,255,255,.3);  /*Gör paragrafstycke transparant */
	/*border-color: COMPATIBLE; */
	border-color: rgba(255,255,255,.6);

	line-height: 20px;
	border-width: 2px;
	border-style: solid;
	border-radius: 5px;
}

label {
	display: inline-block;
	width: 90px;
	margin-right: 5px;
	text-align: right;				/*Sätter label/titeltext på högersidan av textfälter */
	vertical-align: top;			/*Sätter label/titeltext på ovansidan av textfälter */
}

label > strong {
	position: absolute;
	padding-top: 4px;   			/*Stjärnorna sitter lite mer i mitten av fälten */
	left: 620px;
	text-align: left;
	font-size: 2em;
	color: #36A3D1;
	text-shadow: 0 1px 1px lightblue;
}

input[type="text"], 
input[type="email"] {
	width: 490px;					/*Samma som textarea */
}

textarea {
	min-height: 200px;				/*För att fastställa spaltens höjd; vill inte att den ska bli mindre än värdet här. */
	width: 490px;					/*Samma som inputtypes text och email */
	height: 200px;
	resize: vertical;
}

input[type="submit"] {
	display: block;
	margin: auto;
}